@font-face {
  font-family: "Oxygen";
  src: url("/fonts/Oxygen.otf");
}

@font-face {
  font-family: "Oxygen-Bold";
  src: url("/fonts/Oxygen-Bold.otf");
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.otf");
}

@font-face {
  font-family: "Montserrat-Light";
  src: url("/fonts/Montserrat-Light.otf");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Light";
  src: url("/fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: "Roboto-Condensed-Light";
  src: url("/fonts/RobotoCondensed-Light.ttf");
}

@font-face {
  font-family: "Roboto-Condensed-Regular";
  src: url("/fonts/RobotoCondensed-Regular.ttf");
}
