$icon-font-path: "/fonts/bootstrap/";
$fa-font-path: "/fonts/fontawesome";
@import "bootstrap";
@import "font-awesome";
@import "mixins";
@import "typograpy";
/* Global Styles */

body {
  background: #2980b9;
  margin-top: 100px;
  font-family: "Montserrat-Light";
  color: #ecf0f1;
}

@media(min-width: 768px) {
  body {
    margin-top: 50px;
  }
}

a {
  color: #ecf0f1;
  &:hover {
    color: #ecf0f1;
  }
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.p0 {
  padding: 0;
}

.m0 {
  margin: 0;
}

.navbar {
  border-bottom: none;

  &.navbar-inverse {
    background: #34495e;
  }
  & a.navbar-brand {
    background: #2c3e50;
    font-family: "Roboto-Regular";
    font-size: 35px;
    width: 250px;
    height: 50px;
    text-align: center;
    transition: all .4s ease 0s;

    &:hover {
      background: #3498db;
    }

    @media(max-width: 768px) {
      width: 100%;
    }
    & span {
      padding: 0;
      margin: 0;
    }
    & span:first-of-type {
      color: #1abc9c;
    }
    & span:last-of-type {
      color: #ecf0f1;
    }
  }
}

header {
  .brand {
    font-family: "Roboto-Regular";
    font-size: 35px;
    & span:first-of-type {
      color: #1abc9c;
    }
    & span:last-of-type {
      color: #ecf0f1;
    }
  }
}

footer {
  margin-top: 10px;
  font-size: 11px;
  text-align: center;
}

/*
#header {
  background: #f5f5f5;
  position: fixed;
  width: 100%;
  min-height: 60px;
  z-index: 9999;

}
*/

#wrapper {
  height: 100%;
  background: #2980b9;
  transition: all .4s ease 0s;

  #sidebar-wrapper {
    font-family: "Montserrat";
    width: 250px;
    left: -180px;
    position: absolute;
    transition: all .4s ease 0s;
  }

  &.active #sidebar-wrapper {
    margin-left: 180px;
  }

  & #content-wrapper {
    height: auto;
    margin-left: 70px;
    transition: all .4s ease 0s;
    & > #page-content {
      color: #34495e;
      background: #ffffff;
    }
  }

  &.active #content-wrapper {
    margin-left: 250px;
  }

  &.active .icon-bar {
    &:first-of-type {
      transform: rotate(45deg);
      top: 7px;
    }
    &:nth-of-type(2) {
      opacity: 0;
    }
    &:last-of-type {
      transform: rotate(-45deg);
      top: -7px;
    }
  }
  &.active .sub-icon {
    float: none !important;
    padding-right: 10px !important;
  }

  ul.sidebar-nav {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: all .4s ease 0s;

    & > #sidebar-brand {
      background: rgba(52, 73, 94, 0.2);
      line-height: 55px;
      font-size: 18px;
      & > a {
        color: #ecf0f1;
        display: block;
        text-decoration: none;
        &:hover {
          color: #ffffff;
          background: none;
          text-decoration: none;
        }

        & > span {
          padding: 15px 23px 15px 15px;
        }

        & > #main-icon {
          float: right;

          .icon-bar {
            transition: all .4s ease 0s;
            margin-top: 5px;
            display: block;
            width: 24px;
            height: 2px;
            background: #ffffff;
            position: relative;
          }
        }
      }
    }

    &#sidebar li {
      line-height: 40px;
      text-indent: 0;
      background: #3498db;
      & > a {
        color: #ecf0f1;
        display: block;
        padding: 0;
        text-decoration: none;
        &:hover {
          color: #ffffff;
          background: rgba(255, 255, 255, 0.2);
        }

        & > span {
          margin: 0;
          padding: 10px 10px 10px 15px;
          transition: all .4s ease 0s;

          &.sub-icon {
            float: right;
            padding-right: 28px;
            transition: all .4s ease 0s;
          }
        }

      }

    }
  }

}

/* Top Navigation */

.top-nav {
  font-family: "Montserrat";
  margin: 0 -15px;
  padding: 0 15px;
  & > li {
    display: inline-block;
    & > a {
      font-size: 14px;
      line-height: 20px;
      color: #ecf0f1;

      i {
        padding: 8px 13px;
      }
      span {
        padding: 8px 5px;
      }

      img#profile-image {
        margin: 0 10px;
        height: 30px;
        width: 30px;
        @include border-radius(50%);
      }
    }
  }
  & > li > a:hover,
  & > li > a:focus,
  & > .open > a,
  & > .open > a:hover,
  & > .open > a:focus {
    color: #34495e;
    background: #ecf0f1;
  }
  & > .open > .dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: none;
    @include border-radius(0);
    background: #ecf0f1;
    & > li > a {
      white-space: normal;
      color: #34495e;
      &:hover {
        color: #ecf0f1;
        background: rgba(52, 73, 94, .5);
      }
    }
  }

  ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;

    li.message-preview {
      width: 275px;
      border-bottom: 1px solid rgba(0, 0, 0, .15);
    }

    li.message-preview > a {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    li.message-footer {
      margin: 5px 0;
    }
  }
  ul.alert-dropdown {
    width: 200px;
  }

  #profile-nickname {
    padding: 0 10px;
  }
}

.container.small {
  max-width: 450px;

  /** Login **/
  section.panel {
    color: #ecf0f1;
    margin: 0 auto;
    background: rgba(52, 152, 219, .4);
    #forgot {
      font-size: 11px;
    }

    & input {
      background: rgba(255, 255, 255, .3);
      color: #ffffff;
      border: none;
      &:focus {
        box-shadow: none;
        background: rgba(255, 255, 255, .5);
      }
      &::-webkit-input-placeholder {
        color: #ecf0f1;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: #ecf0f1;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: #ecf0f1;
      }
      &:-ms-input-placeholder {
        color: #ecf0f1;
      }
    }
  }
  /** Login **/
}

.btn-success {
  background: #1abc9c;
  border: none;
  &:hover {
    background: #16a085;
  }
}

.btn-default {
  background: #bdc3c7;
  color: #34495e;
  border: none;
}



