$icon-font-path: "/fonts/bootstrap/";
$fa-font-path: "/fonts/fontawesome";
@import "bootstrap";
@import "font-awesome";

html, body {
  background: #ffffff;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.p0 {
  padding: 0;
}

.m0 {
  margin: 0;
}

#header {
  background: #222222;
  position:fixed;
  width:100%;
  min-height: 60px;
  z-index: 9999;

  & > #logo{
    padding-left: 75px;
    font-size:40px;
    transition: all .4s ease 0s;
    & span:first-of-type{
      color:#248ACF;
      font-weight: bold;
    }
    & span:last-of-type{
      color:#ffffff;
      font-weight: normal;
    }
  }
}

#wrapper {
  margin-top:60px;
  height: 100%;
  background: #222222;
  transition: all .4s ease 0s;

  #sidebar-wrapper {
    width: 250px;
    left: -175px;
    position: absolute;
    transition: all .4s ease 0s;
  }

  &.active #sidebar-wrapper{
    margin-left: 175px;
  }

  & #page-content-wrapper {
    background:rgba(200,200,200, 0.5);
    margin-top:60px;
    height: auto;
    margin-left:75px;
    transition: all .4s ease 0s;
  }

  &.active #page-content-wrapper{
    margin-left:250px;
  }

  &.active .icon-bar{
    &:first-of-type{
      transform: rotate(45deg);
      top:7px;
    }
    &:nth-of-type(2){
      opacity:0;
    }
    &:last-of-type{
      transform: rotate(-45deg);
      top:-7px;
    }
  }

  ul.sidebar-nav {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: all .4s ease 0s;

    & > #sidebar-brand {
      height: 65px;
      line-height: 60px;
      font-size: 18px;
      & > a {
        color: #999999;
        display: block;
        text-decoration: none;
        &:hover {
          color: #ffffff;
          background: none;
          text-decoration: none;
        }

        & > span {
          padding: 15px 25px 15px 15px;
        }

        & > #main-icon {
          float: right;

          .icon-bar{
            transition: all .4s ease 0s;
            margin-top:5px;
            display:block;
            width:24px;
            height:2px;
            background:#fff;
            position:relative;
          }
        }
      }
    }

    &#sidebar li {
      line-height: 40px;
      text-indent: 0;
      background: #292929;
      & > a {
        color: #999999;
        display: block;
        padding: 0;
        text-decoration: none;
        &:hover {
          color: #ffffff;
          background: rgba(255, 255, 255, 0.2);
        }

        & > span {
          margin: 0;
          padding: 10px 10px 10px 15px;
          transition: all .4s ease 0s;

          &.sub-icon{
            float:right;
            padding-right:30px;
            transition: all .4s ease 0s;
          }
        }

      }

    }
  }

}



