$icon-font-path: "/fonts/bootstrap/";
$fa-font-path: "/fonts/fontawesome";
@import "bootstrap";
@import "font-awesome";

html, body {
  background: #ffffff;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.p0 {
  padding: 0;
}

.m0 {
  margin: 0;
}

#header {
  background: #222222;
}

#wrapper {
  transition: all .4s ease 0s;
  height: 100%;

  #sidebar-wrapper {
    background: #222222;
    width: 250px;
    left: -175px;
    position: fixed;
    height: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
  }

  #sidebar-wrapper.active{
    margin-left: 175px;
  }

  #sidebar-wrapper.active .sub-icon{
    float:none !important;
    padding-right:10px !important;
  }

  ul.sidebar-nav {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;

    & > #sidebar-brand {
      height: 65px;
      line-height: 60px;
      font-size: 18px;
      & > a {
        color: #999999;
        display: block;
        text-decoration: none;
        &:hover {
          color: #ffffff;
          background: none;
          text-decoration: none;
        }

        & > span {
          padding: 15px 30px 15px 15px;
        }

        & > #main-icon {
          float: right;
        }
      }
    }

    &#sidebar li {
      line-height: 40px;
      text-indent: 0;
      background: #292929;
      & > a {
        color: #999999;
        display: block;
        padding: 0;
        text-decoration: none;
        -webkit-transition: background .5s;
        -moz-transition: background .5s;
        -o-transition: background .5s;
        -ms-transition: background .5s;
        transition: background .5s;
        &:hover {
          color: #ffffff;
          background: rgba(255, 255, 255, 0.2);
        }

        & > span {
          margin: 0;
          padding: 10px 10px 10px 15px;

          &.sub-icon{
            float:right;
            padding-right:30px;
          }
        }

      }

    }
  }

}

#page-content-wrapper {
  padding-left: 0;
  margin-left: 0;
  width: 100%;
  height: auto;
}


